<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Main
	meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1")
	link(rel="stylesheet", href="./css/style.css")
body
	h1 Los Mejores Cantantes
	a(href="/personajes") Personajes - App CRUD

	