<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Main
	link(rel="stylesheet", href="./css/style.css")
body
	h1 La Mejor Experiencia en Programación
	a(href="/login") Login
	a(href="/signup") Registrarse
	a(href="/personajes") Personajes - App CRUD

	