* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;
}

input {
	padding: 1em;
	display: block;
	margin: .5em;
}

input[type='submit'] {
	background: #33E633;
	border: none;
	color: white;
}