<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	meta(name="viewport", content="width=device-width, minimum-scale=1, maximum-scale=1")
	link(rel="stylesheet", href="./css/style.css")
body
	h1 Please, SignUp

	form(action="/personajes/register/add", method="post", enctype="multipart/form-data")
		div
			label User
			input(type="text", name="name")
		div
			label Age
			input(type="text", name="age")
		div
			label Cover
			input(type="file", name="image_avatar")
		div
			input(type="submit", name="btn_send")